
.background-images-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    pointer-events: none;
    overflow: hidden; 
}

.background-image {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    animation: moveBackground 10s ease-in-out infinite;
}


.first-image {
    left: 0;
    width: 50%;
    z-index: -1;
    object-fit: fit;
    filter: drop-shadow(1px 1px 30px rgb(0, 0, 0));
    animation: firstImageMovement 15s ease-in-out infinite; 
}


.second-image {
    right: 0;
    width: 50%;
    z-index: -1;
    object-fit: fit;
    filter: drop-shadow(1px 1px 30px rgb(0, 0, 0));
    animation: secondImageMovement 15s ease-in-out infinite; 
}

.tird-image {
    right: 65%;
    width: 20%;
    object-fit: fit;
    filter: drop-shadow(0 0 10px rgb(1, 289, 245));
   
}

.background-image3 {
    position: absolute;
    top: 75%;
    height: 30%;
    width: auto;
    animation: moveBackground 10s ease-in-out infinite;
}

.background-5 {
    position: absolute;
    top: 0;
    left: 18%;
    right: 0;
    bottom: 0;
    z-index: -2;
    filter: drop-shadow(2px 2px 30px rgb(255, 255, 255));
}


.background-city {
    position: absolute;
    width: 75%;
    height: 70%;
    object-fit: cover;
    top: 38%;
    animation: cityMovement 12s ease-in-out infinite; 
}


@keyframes moveBackground {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -30px, 0); 
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes firstImageMovement {
    0% {
        transform: translate3d(0, 0, 0) scale(1); 
    }
    50% {
        transform: translate3d(0, -10px, 0) scale(1.1); 
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1); 
    }
}

@keyframes secondImageMovement {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    50% {
        transform: translate3d(0, -10px, 0) scale(1.1); 
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes cityMovement {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 20px, 0); 
    }
    100% {
        transform: translate3d(0, 0, 0); 
    }
}


.css-question-box {
    background-color: #000000;
    border: 3px solid #ff00cc;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 255, 255, 0.3); 
    max-width: 500px;
    width: 100%;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-top: 4%;
    animation: bounceLeftRight 3s ease-in-out infinite;
}


@keyframes bounceLeftRight {
    0% {
        transform: translateX(-60%); 
    }
    50% {
        transform: translateX(-55%); 
    }
    100% {
        transform: translateX(-60%); 
    }
}




.css-question {
    font-size: 1.5rem;
    color: #f85ef8; 
    font-family: 'Doto', sans-serif;
    letter-spacing: 1px;
}

.css-option {
    background-color: #121112;
    border: 3px solid #ff00cc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    font-size: 1.4rem;
    color: #f85ef8;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    position: relative;
    font-weight: 700;
}

.css-options {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    left: 57%; 
}

.css-option:hover {
    background-color: #101010;
    transform: scale(1.05);
}

.correct-answer {
    background-color: #66ff66 !important;
    border-color: #00ff00 !important;
}

.wrong-answer {
    background-color: #fa013f !important;
    border-color: #ff0066 !important;
}

.home-button, .next-button {
    background-color: black;
    border: 3px solid #ff00cc;
    color: #f5eef5;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Doto';
}

.home-button:hover, .next-button:hover {
    background-color: #f904c8;
    color: #121112;
    transform: scale(1.1);
}

.reset-button {
    background-color: #ff00cc;
    border: 3px solid #f85ef8;
    color: #121112;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.reset-button:hover {
    background-color: #f85ef8;
    color: #121112;
    transform: scale(1.1);
}


.home-button {
    position: absolute;
    top: 30%;
    left: 45%;
    animation: bounceLeftRight3 3s ease-in-out infinite;
   
}

.next-button {
    position: relative;
    left: 75%;
    animation: bounceLeftRight3 3s ease-in-out infinite;
    
}

@keyframes bounceLeftRight3 {
    0% {
        transform: translateX(-70%); 
    }
    50% {
        transform: translateX(-55%); 
    }
    100% {
        transform: translateX(-70%); 
    }
}


.css-quiz {
    position: fixed;
    bottom: 60%;
    left: 22%;
    z-index: 999;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: black;
    padding: 5px 10px;
    border: 2px solid #ff00cc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ff00cc;
    pointer-events: none;
    animation: bounceLeftRight 3s ease-in-out infinite;
}

.question-counter {
    position: fixed;
    bottom: 47%;
    left: 32%;
    z-index: 1000;
    color: #ffffff;
    font-family: Doto, sans-serif;
    font-size: 20px; 
    background-color: black;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ff00cc;
    border: 2px solid #ff00cc;
    font-weight: 900;
    animation: bounceLeftRight2 3s ease-in-out infinite;

}

@keyframes bounceLeftRight2 {
    0% {
        transform: translateX(-65%); 
    }
    50% {
        transform: translateX(-55%); 
    }
    100% {
        transform: translateX(-65%); 
    }
}

.robot-container {
    position: relative;
    top: -10px;  
    left: 20px;  
    transform: scale(1.2);  
    z-index: 10; 
}

.robot-gif {
    width: 10%; 
    pointer-events: none; 
}


.robot-dialogue-container {
    position: absolute;
    bottom: 25%;
    left: 37%;
    width: 20%;
    padding: 10px;
    z-index: 10;
  }
  
  .robot-dialogue-box {
    background: black; 
    border: 2px solid #00ffcc; 
    border-radius: 10px;
    box-shadow: 0 0 20px #00ffcc; 
    padding: 15px;
    animation: bounceLeftRight2 10s ease-in-out infinite;
  }
  
  .robot-message {
    font-family: Doto, sans-serif; 
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .robot-dialogue-box::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 20px; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px; 
    border-color: black transparent transparent transparent;
   
  }
  
  